<h2 mat-dialog-title>Update Delivery Details</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Delivery Fee</mat-label>
    <label for="deliveryFees">How much does deliveryFees cost?</label>
    <input
      matInput
      [(ngModel)]="data.deliveryFee"
      type="number"
      placeholder="Enter delivery fee"
      min="1"
      id="deliveryFees"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Delivery Days</mat-label>
    <label for="deliveryDays">How many days will  order be arrived to client?</label>
    <input
      matInput
      [(ngModel)]="data.deliveryDays"
      type="number"
      placeholder="Enter delivery days"
      min="1"
      id="deliveryDays"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!data.deliveryFee || !data.deliveryDays"
  >
    Save
  </button>
</div>
