<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #121212; position: relative;">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4" style="background-color: #1a2a3b;">
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>

    <!-- Right -->
    <div>
      <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
      <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
      <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
      <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
      <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column - Company Info -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Loom & Loux</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>At Loom & Luxe, we believe in the power of design to transform spaces and elevate everyday living. Our collections are thoughtfully curated to offer a range of styles, from classic elegance to contemporary chic, ensuring there's something for every taste and home.</p>
        </div>

        <!-- Grid column - Products Links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><a href="home" class="text-white">Home</a></p>
          <p><a href="categories" class="text-white">Categories</a></p>
          <p><a href="about" class="text-white">About</a></p>
          <p><a href="products" class="text-white">Products</a></p>
        </div>

        <!-- Grid column - Useful Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><a href="#!" class="text-white">Your Account</a></p>
          <p><a href="#!" class="text-white">Become an Affiliate</a></p>
          <p><a href="#!" class="text-white">Shipping Rates</a></p>
          <p><a href="#!" class="text-white">Help</a></p>
        </div>

        <!-- Grid column - Contact Info -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><i class="fas fa-home mr-3"></i> 1st NewCairo, Egypt</p>
          <p><i class="fas fa-envelope mr-3"></i> Mohamed.Sabry.Av"gmail.com </p>
          <p><i class="fas fa-phone mr-3"></i> 01062439552</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <a class="text-white">Mohamed Sabry</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
