/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://img.freepik.com/premium-photo/sewing-needles-spool-colored-sewing-threads-tailors-white-isolated-background_1039372-406.jpg?w=360');
  background-size: cover;
  background-position: center center;
  border-radius: 17px;
}