<!-- Sidebar -->
<aside class="sidebar">
    <nav class="menu">
      <ul>
        <li><a [routerLink]="['/admin/dashboard/']">Dashboard</a></li>
        <li><a [routerLink]="['/admin/dashboard/productsAdmin']">Products</a></li>
        <li><a [routerLink]="['/admin/dashboard/addProduct']">Add Product</a></li>
        <li><a [routerLink]="['/admin/dashboard/ordersAdmin']" >Orders</a></li>
        <li><a [routerLink]="['/auth']" (click)="logout()">Log out</a></li>  
      </ul>
    </nav>
  </aside>