<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="banner/panner4.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="banner/panner3.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="banner/panner2.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="HomeOffers">
    <div class="MenSection">
      <a href="" class="menSection">
        <img src="/homeContent/showMen.webp" alt="" />
        <h4>MEN'S WEAR</h4>
        <h2>Up to 40% off on <br>all items</h2>
        <button type="button" class="shopNowBtn">SHOP NOW</button>
      </a>
    </div>
    <div class="WomenSection">
      <a href="" class="womenSection"><img src="/homeContent/ShowWomen.webp" alt="" />
        <h4>WOMEN'S WEAR</h4>
        <h2>New in This <br>Week </h2>
        <button type="button" class="shopNowBtn">SHOP NOW</button>
      </a>
    </div>
  </div>
  <div class="Offers">
    <a href="#" class="SpetialOffer">
      <img src="/homeContent/GiftsOffers.webp" alt="">
    </a>
  </div>
  
  <div class="HotProducts-label">
    <p>Best Sellers</p>
    <p class="subtitle">Top sale in this week</p>
  </div>
  <div class="HotProducts">
    <ul class="product">
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelBoy.webp" alt="" class="default-image">
          <img src="/homeContent/modelBoy1_2.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label sale">Sale</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl.webp" alt="" class="default-image">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label low-stock">Low Stock</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl3-1.webp" alt="" class="default-image">
          <img src="/homeContent/modelGirl3.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
      <li>
        <span class="label new">NEW</span>
        <a href="" class="productsLink">
          <img src="/homeContent/modelGirl1-2.jpg" alt="" class="default-image">
          <img src="/homeContent/modelGirl2-1.webp" alt="" class="hover-image">
        </a>
        <h3>Regular Fit Easy-iron Shirt</h3>
        <h4>$220.00</h4>
      </li>
    </ul>
  </div>
  
  <!-- Gift Photo -->
  <div class="giftPhotoContainer">
    <div class="giftPhoto">
      <img src="/homeContent/Gifted.webp" alt="Gift Photo">
    </div>
  </div>
  
  
  